.shiba {
    border-radius: 50%;
    box-shadow: 6px 6px 6px greenyellow;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

body {
    background-color: rgb(197, 210, 245);
}

.container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    min-width: 40%;
    padding: 30px;
}

.shibaspeaks {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0%;
    margin-bottom: 5px;
    font-family: cursive;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 19px;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    background-color: rgb(255, 242, 248);
    width: 50%;
    padding: 2px;
    transform: translateX(50%);
    display: inline-block;
    border: 2px solid black;
}

 .shibaspeaks::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

img:hover+div.shibaspeaks{
    visibility: visible;
}